.festival{


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

.bestTodo{
    margin: 20px;
    width: 900px;
        order: 0;
    flex: 0 1 auto;
    align-self: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    .item{
    margin: 20px;
    width: 180px;

        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    

margin-top: 10px;


display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: flex-start;
.ui avatar image{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    
}

.content{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}




}
}


.bestTodo2{
    margin: 20px;
    width: 900px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    .item{
        margin: 20px;
        width: 180px;

        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
margin-top: 10px;
.ui avatar image{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    
}

.content{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}




}
}


.bestTodo3{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    width: 900px;
    .item{
        margin: 20px;
        width: 180px;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
 
       
margin-top: 10px;

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: flex-start;
.ui avatar image{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    
}

.content{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}




}
}

.bestTodo4{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    width: 900px;
    .item{
        margin: 20px;
        width: 180px;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
 
       
margin-top: 10px;

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: flex-start;
.ui avatar image{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    
}

.content{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}




}
}



}